include openeo_driver/specs/openeo-api/*/*.json
include openeo_driver/specs/openeo-api/*/*.md
include openeo_driver/specs/openeo-api/*/LICENSE*
include openeo_driver/specs/openeo-processes/*/*.json
include openeo_driver/specs/openeo-processes/*/*.md
include openeo_driver/specs/openeo-processes/*/LICENSE*
include openeo_driver/specs/openeo-processes/*/proposals/*.json
include CHANGELOG.md
